.ft_cmsheading1 {
    color: #94d600;
}

.ln_dotccc {
    border-bottom: 4px solid #94d600;
}

#cms_homebottom {
    border-bottom: 4px solid #94d600;
}

.ft_bluelink, .ux_notify {
    color: #94d600;
}

input[type=submit] {
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    padding: 0.5em;
    border: 1.5px solid #94d600;
}

    input[type=submit]:hover {
        background-color: #94d600;
        border-color: #888;
        color: white;
    }

.PagerStyle span {
    color: #000;
    text-decoration: none;
    padding: 0.5em;
    border: 1px solid gray;
    background-color: #94d600;
}
