.ux_cm_left {
width: 50%;
float:left
}

.ux_cm_right {
width: 40%;
float:right;
}

.ux_scroll {
    width: 200px;
    height: 100px; 
    overflow: auto;
}

/* subsite designs*/
.subsiteindesign {
    /* border: 2px dotted #CED4DF;
    width: 300px;
    background-color: #F0F0F0;
    padding: 10px;
    margin: 10px;
    float: left;
       */
}

.usr_checkleft10 {
    margin-left: 0;
}

.usr_checkleft20 {
    margin-left: 20px;
}

.usr_checkleft30 {
    margin-left: 30px;
}

.ux_dividerleft {
    float: left;
    width: 45%;
}

.ux_dividerright {
    float: right;
    width: 45%;
    border-left: 1px dotted #ccc;
    padding-left: 5%;
    min-height: 10em;
}

.ft_cmsheading1 {
    font-family: 'Segoe UI', Tahoma, Verdana, Arial, sans-serif;
    font-size: 2em;
    font-weight: 300;
    line-height: 1.25em;
    margin: 0.50em 0 0.75em;
}

#cms_homebottom {
    padding: 6px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 200px;
    background-color: #333;
    vertical-align: middle;
    min-height: 100px;
}

.subsitepreviewpan {
    float: left;
    margin-left: 50px;
    width: 300px;
}

.subsitetxtmid {
    text-align: center;
}

.fraudcentermid {
    border: 4px solid #666;
    width: 300px;
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    background-color: #000;
    margin-top: 100px;
}

#cms_wrapmid {
    margin: 0px auto;
    width: 1024px;
    background-color: #fff;
}

#cms_homeleft {
    float: left;
    min-width: 200px;
    text-align: left;
}

#cms_homeright {
    border-left: 1px solid #CCC;
    padding-left: 20px;
    float: left;
    width: 800px;
    min-height: 600px;
}

.cms_homehover {
    background-color: #CCCCCC;
}

.cms_subsite_maincat {
}

.cms_subsite_subcat {
}

.cms_subsite_left {
    float: left;
    width: 100px;
}

.cms_subsite_right {
    float: left;
    width: 400px;
    text-align: left;
}

.cms_step_black {
    float: left;
    background-image: url('/images/img_step_bg_black.png');
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
    margin-left: -38px;
}

.cms_step_gray {
    float: left;
    background-image: url('/images/img_step_bg_gray.png');
    background-repeat: no-repeat;
    height: 40px;
    width: 150px;
    margin-left: -38px;
}

.cms_step_adjust {
    margin-left: 38px;
}

.cms_subsites {
    margin-left: 10px;
    margin-top: 20px;
}

.TextboxSt {
    border-width: 1px;
    border-collapse: collapse;
    border-style: solid;
    border-color: gray;
    padding: 4px;
    font-size: .688em;
}

input[type=text], select, textarea {
    border: 1.5px solid #CCC;
    width: 300px;
    font-size: 1em;
    padding: 0.5em;
}

.ft_graysimple {
    color: gray;
    font-size: .688em;
}

.ux_dotline {
    border-bottom: 2px dotted black;
}

.ux_gridheader {
    min-height: 1.5em;
    background-color: #888;
    color: whitesmoke;
    padding-left: 0.25em;
}

.usr_checkleft10, .usr_checkleft20, .usr_checkleft30,
.ux_notify, .PagerStyle, #cms_loginleft, .TextboxSt, .ft_graysimple, .ft_white, .ft_black, .ft_blackbold, .ft_bluelink, .ft_bluelink:hover, input[type=text], input[type=button] {
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
}

.usr_checkleft10, .usr_checkleft20, .usr_checkleft30,
#cms_loginleft, .TextboxSt, .ft_graysimple, .ux_notify, .ft_white {
    font-size: .688em;
}

.ft_black, .ft_bluelink, .ft_blackbold {
    font-size: .75em;
    line-height: 2em;
}

.ft_white {
    font-size: .688em;
    line-height: 2em;
}

.ft_blackbold {
    font-weight: bold;
}

.ft_white {
    color: white;
}

.ft_bluelink {
    text-decoration: none;
}

    .ft_bluelink:hover {
        text-decoration: underline;
    }

.dv_fix {
    clear: both;
}

.ln_dotted {
    border-bottom: 1px solid #CED4DF;
}

/*preloader for cms*/
.ux_coverprogress {
    min-height: 1em;
    padding-left: 45%;
}

.ux_notify {
    width: 100px;
}

/*pager css*/
.PagerStyle {
    float: left;
    padding: 0.5em;
    text-align: center;
    margin-top: 0.5em;
    font-size: .75em;
}

    .PagerStyle a:hover {
        background-color: #000;
        text-decoration: none;
        padding: 0.5em;
        color: white;
    }

    .PagerStyle a {
        color: #000;
        text-decoration: none;
        padding: 0.5em;
        border: 1px solid gray;
    }

/*Themes*/

.ux_tmargin {
    padding: 4px;
    border: 0px;
}
